body{
    background-color: antiquewhite;
    
    
}

.bg-2{
    position: absolute;
    width: 99vw;
    height: 45rem;
    z-index: -1;
    background-color: black;
    background-repeat: no-repeat;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Noto Sans', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding-left: 70px;
}
.brand img{
    width: 50px;
 
}
.brand{
    font-family: 'Caveat', cursive;
    font-weight: bolder;
    font-size: 32px;
    display: flex;
    align-items: center;
}
h1{
    font-family: 'Noto Sans', sans-serif;
}
.container{
    height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    margin: 20px auto 33px auto;
    width: 70%;
    border-radius: 15px;
    padding: 30px;
    background-repeat: no-repeat;
    opacity: 0.5;
  
}
.songBanner img{
    height: 68vh;
    width: 100%;
    border-radius: 15px;
    z-index: -1;
    opacity: 0.5;

}
.bottom{
    position: sticky;
    height: 16vh;
    width: 99vw;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
.icons{
    margin-top: 12px;
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}



.songItem{
    height: 50px;
    display: flex;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    opacity: 1;
}

.songItem img{
    width: 43px;
    height: 43px;
    margin: 0 23px;
    border-radius: 2rem;
}

.songListPlay{
    padding-left: 7rem;
}
.timeStamp{
    margin: 0 23px;
    cursor: pointer;
}

#icon-below-gif{
    transition: opacity 0.8s ease-in;
    visibility: hidden;
    height: 13px;
    width: 99vw;
}

.songInfo{
    height: 7px;
    width: 99vw ;  
}











@media screen and (min-width: 200px) and (max-width: 420px) {
    body {
      background-color: lightblue;
    }
    .bg-2{
        width: 204vw;
        height: 204vh;    }
    .nav-bar{
        width: 204vw;
        height: 30vh;
    }
    nav ul{
        height: 24vh;
    }
    nav ul li {
        padding-left: 23vw;
        font-size: 1.5rem;
    }
    .brand{
        font-size: 60px;
    }
    .brand img {
        
        padding-right: 15px;
    }
    .songBanner{
        display: none;
    }
    .container{
        height: 110vh;
        width: 156vw;
        margin-bottom: 16vh;
        margin-left: 17vw;
    }
    .bottom{
        height: 24vh;
        width: 204vw;
    }
    .songInfo{
       height: 19vh;
       width: 202vw;
    }
    #icon-below-gif{
        width: 202vw;
        height: 32px;
    }
    #myProgressBar {
        width: 192vw;
    }
    .icons{
        margin-bottom: 4vh;
    }
    h1{
        font-size: 3rem;
    }
    .songItem{
        height: 13vh;
    }
    .timeStamp{
        display: none;
    }
    .songName{
        font-size: 5vh;
        
    }
    .songItem img {
        width: 44vw;
        height: 12vh;
    }
    .brand img {
        width: 96px;
    }
   

  }







@media screen and (min-width: 420px) and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .bg-2{
        width: 170vw;
        height: 174vh;    }
  }